/* Main Styles */

body {
    background-color: rgb(90, 90, 90);
}

h1 {
    color: rgb(209, 209, 209);
    text-align: center;
    font-family: 'NorseBold', cursive, serif;
    text-shadow: 2px 2px black;
}

h2, h3 {
    color: rgb(209, 209, 209);
    font-family: 'NorseBold', cursive, serif;
    text-shadow: 1px 1px black;
}

img {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: none;
    color: #0056b3;
}

p {
    color: rgb(216, 214, 214);
    font-family: 'Times New Roman', 'NorseBold', serif;
    font-weight: 400;
}

.bold {
    font-weight: bold;
}
/* Main Home Page */

.m-list {
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}

.m-item {
    font-family: 'Verdana', 'Times New Roman', serif;
    list-style: square;
    padding-right: 35px;
}

.bottom-text {
    color: rgb(209, 209, 209);
    text-align: center;
    position: fixed;
    bottom: 0;

}

/* Kimchi Recipe */

.kimchi-list li::marker {
    color: red;
}

.kimchi-list li {
    color: rgb(212, 212, 212);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 16px;
    font-weight: 100;
    margin: 5px 0;
}

.k-ingredients {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 1px;
    text-decoration-skip: 6px;
}

.kimchi-steps li {
    color: rgb(212, 212, 212);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 100;
}

.kimchi-steps > li::marker {
    font-weight: bold;
    color: red;
}

.k-link {
    padding-right: 15px;
}

/* Galbi Recipe */

.g-ingredients {
    color: rgb(212, 212, 212);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 16px;
    font-weight: 100;
    margin: 5px 0;
}

.g-ingredients li::marker {
    color: green;
}

.ingredient-heading {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 1px;
}

.g-list li {
    color: rgb(212, 212, 212);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 100;
}

.g-list > li::marker {
    font-weight: bold;
    color: green;
}

.g-link {
    padding-right: 15px;
}

/* Chicken Curry Recipe */

.c-ingredients {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 1px;
}

.c-list li {
    color: rgb(212, 212, 212);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 100;
}

.c-list li::marker {
    color: orange;
}

.c-link {
    padding-right: 15px;
}

.c-subhead {
    font-weight: bold;
}